* {
  box-sizing: border-box;
  padding: auto;
  margin: auto;
}

.sidebar {
  height:100%;
  width:100px;
  background-color:;
  position:fixed!important;
  z-index:1;
  overflow:auto;
}

@media (min-width:1000px) {
  .sidebar {display: block!important;}
  .hide-large {display: none!important}
}

@media (max-width: 999px) and (min-width: 600px) {
  .hide-medium {display: none!important}
}

@media (max-width:999px) {
  .sidebar {display:none;}
}

.bar .center {
  display: inline-block;
  width: auto;
}

.bar .bar-item {
  padding:8px 16px;
  float:left;
  width:auto;
  border:none;
  display:block;
  outline:0
}

.bar-item .bar-block {
  width:100%;
  display:block;
  padding:8px 16px;
  text-align:left;
  border:none;
  white-space:normal;
  float:none;
  outline:0;
}

.bar-item .bar-block .center {
  text-align: center;
}

.small{
  font-size: 12px!important;
}

.large{font-size: 42px!important}

@media (max-width:600px){
  .hide-small{
    display: none!important;
}.bar-item{
  text-align: center;
}}

.center {text-align: center!important;}

.button {
  border: none;
  display:inline-block;
  padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
}

.button .bar-block {
  width:100%;
  text-align:left;
  padding:8px 16px
}

.button .bar {white-space: normal;}

.button:hover{
  color:#000!important;background-color:#ccc!important
}

.padding-large{
  padding:12px 24px!important
}

.black, .w3-hover-black:hover{
  color:#fff!important;
  background-color:#000!important
}


.top {
  position:fixed;width:100%;z-index:1; top:0
}

.opacity, .hover-opacity:hover {
  opacity: 0.6;
}

.opacity-off, .hover-opacity-off:hover {
  opacity: 1;
}

.container {
  padding:0.01em 16px
}

.padding-32 {
  padding-top: 32px;
}

.jumbo{
  text-align: center; font-size: 64px!important;
}

/*Needs to have a smaller avatar photo
.center {display: inline-block; width: auto;}*/